@import "~/linux-install/rofi/config.rasi"

window {
	width: 80%;
	height: 0;
}

inputbar {
	enabled:false;
}

listview {
	columns: 5;
    lines: 1;
}

element {
	orientation: vertical;
}

element-icon {
	size: 180px;
}

element-text {
	enabled: false;
}
