/* link from /etc/xdg/waybar/style.css */

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 10px;
}

window#waybar {
    background: #2E3440;
    color: #D8DEE9;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 0 4px;
    color: #D8DEE9;
    background: transparent;
    border-radius: 4px;
}

#workspaces button.focused {
    background: #81A1C1;
    color: #2E3440;
}

#workspaces button.urgent {
    background: #BF616A;
    color: #ECEFF4;
}


#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#custom-shutdown,
#mpd {
    padding: 0 8px;
    margin: 4px 0;
    background: #3B4252;
    border-radius: 4px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}


#battery.charging {
    color: #A3BE8C;
}

#battery.warning {
    color: #EBCB8B;
}

#battery.critical {
    color: #BF616A;
}
/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
