# link from ~/.local/share/applications/powermenu.desktop

[Desktop Entry]
Name=Shutdown
Exec=sh -c $HOME/linux-install/custom-scripts/powermenu/powermenu.sh
Icon=~/linux-install/custom-scripts/powermenu/powericon.png
Type=Application
Categories=Utility;
