[Unit]
Description=Dynamic Battery Monitor
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/linux-dots/custom-scripts/battery-monitor/battery-monitor.sh
Restart=always
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus

[Install]
WantedBy=default.target
